# md全無視
#  *.md
# ログ無視
#  /npm-debug.log
#ディレクトリ無視
#  /bin/
#全フォルダから指定ファイルを無視
#  x.json
#上から順に解釈した上で、!のついたファイルを除外対象から外す
#  !/y.json
#その他表現など
#  /**/x
#  logex-????.log
#  logex-[0-9][0-9][0-9][0-9].log
node_modules/
*.log
/dest/
/keyconf.js